*{
    margin:0;
    padding: 0;
}
@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Regular.ttf");
  }
  @font-face {
    font-family: "Roboto-bold";
    src: url("./fonts/Roboto-Bold.ttf");
  }
body{
    background-color: #EDE4FF;
    overflow-x:hidden;
    font-family: 'Roboto', sans-serif;
}
header{
    width:100%;
    display: flex;
    flex-direction: column;
    padding: 10px 20px 0;
    background-color: #0766AD;
}
h1{
    font-family: 'Roboto-bold', sans-serif;
    margin: 0 auto;
    color: #F77E21;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
nav{
    min-width:100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
    margin-left: -20px;
    margin-right: -20px;
    background-color: #29ADB2;
}
.navMenu{
    color: #F3F3F3;
    text-decoration: none;
    cursor: pointer;
    font-size: 19px;
}
main{
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
}
h2{
    margin: 20px auto;
}
.mainImg{
    width: 800px;
    height: 500px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    

}
.definitionBlock{
    display: flex;
    flex-direction: column;
     justify-content: center;
    align-items: center;
    margin: 15px auto;
}
.definition{
    width: 80%;
    padding: 10px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 12%;
}

li{
    padding: 5px;
}
ol li{
    color: #192655;
    
}
ul{
    margin-bottom: 20px;
}

ul li{
    color: #164B60;
}
footer{
    background-color: #9BBEC8;
    width:100%;
    height: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
}
footer p{
    color:#F3F3F3;
}

.imgCard{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 0 auto;
}
.mainImg, .backImg{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
  
}
.backImg{
    transform: rotateY(180deg);
    border-radius: 10px;
}
.imgCard:hover .mainImg {transform: rotateY(180deg);}
.imgCard:hover .backImg {transform: rotateY(360deg);}

@media (max-width:900px){
     .imgCard{
        width: 600px;
        height: 350px;
    }
}
@media (max-width:800px){
    .imgCard{
       width: 500px;
       height: 300px;
   }
}
@media (max-width:600px){
    .imgCard{
        width: 400px;
        height: 250px;
    }
}
@media (max-width:455px){
    .imgCard{
        width: 350px;
        height: 210px;
    }
    header{
        padding: 10px 10px 0;
    }
    h1{
        font-size: 17px;
    }
    h2{
        font-size: 17px;
    }
    h3{
        font-size: 15px;
    }
    nav{
        margin-right: -10px;
        margin-left: -10px;
    }
    .navMenu{
        font-size: 11px;
    }
    p, li{
        font-size: 13px;
    }
    
    li{
        padding: 2px 5px;
    }
    

}